body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: 'JetBrains Mono', monospace;
}
a:link, a:visited {
  color: #89b4fa;
}
center {
  text-align: center;
}
round {
  border-radius: 10px;
}
.navbar {
    border-radius: 8px;
    outline: #cdd6f4 solid 4px;
    width: 50%;
    padding: 5px;
    margin: auto;
    justify-content: center;
    display: flex
}
.navitem {
    text-align: center;
    width: 200px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    flex: auto;
}
.link {
    text-decoration: none;
}
.outline {
    outline: #cdd6f4 solid 4px;
}
